body {
  background-color: white;
  margin: 3;
  padding: 3;
}
h1 {
  color: black;
  font-family: 	Courier New;
  font-size: 2.5em;
}

h2,
h3 {
  color: black;
  font-family: 	Courier New;
  margin: 10px;
  font-size: 1.5em;
}

p {
  color: grey;
  font-size: 1.2em;
  margin: 10px;
  text-align: left;
}


ul {
 list-style-type: none;
 margin: 1px;
 padding: 1px;
 overflow: hidden;
 background-color: white;
}

li {
 float: left;
 border-right: 2px solid white;
 font-family:	Courier New;
}

/* Add a border to all( but not the last) list items */
li:last-child {
 border-right: none;
}

li a {
 display: block;
 color: black;
 text-align: left;
 padding: 15px 17px;
 text-decoration: none;
 font-family:	Courier New;
}

/* Links will change color when hovered over */
li a:hover {
 background-color: #a09f9f;
}

.active {
 background-color: #a09f9f;
}
.padded img {
padding-left: 10px;
padding-right: 10px;
}
